.about{
    width: 100%;   
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 104px;
    padding-right: 216px;
    gap: 56px;
    box-sizing: border-box;
}

.about__image{
    width: 464px;
    height: 464px;        
    object-fit: contain;
}

.about__content{
    padding-top: 51px;
}

.about__title{
    width: 65%;
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
}

.about__description{    
    padding-top: 24px;    
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 1115px) {
    .about{                
        padding-left: 40px;
        gap: 32px;
    }

    .about__image{
        width: 232px;
        height: 232px;
        padding-top: 65px;
    }

    .about__description{
        width: 92%;        
    }
}

@media screen and (max-width: 768px) {
    
    .about{    
        max-width: 768px;
        width: 100%;        
        padding-top: 61px;
        padding-left: 40px;
        padding-right: 40px;
        gap: 32px;
    }

    .about__image{
        width: 232px;
        height: 232px;
        padding-top: 0px;
    }

    .about__content{
        padding-top: 0px;
        margin-top: -20px
    }

    .about__title{             
        font-size: 30px;
        line-height: 40px;
    }

    .about__description{
        width: 100%;     
    }
   
  }

  @media screen and (max-width: 767px) {
    .about{            
        flex-direction: column; 
        align-items: center;        
    }

  }

  @media screen and (max-width: 320px) {
    .about{    
        max-width: 320px;
        width: 320px;              
        padding-top: 32px;
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: column;
        gap: 24px;
    }

    .about__image{
        width: 272px;
        height: 272px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .about__content{
        width: 288px;
        padding-top: 24px;
        padding-left: 16px;     
        padding-right: 16px;
    }

    .about__title{             
        width: 90%;
        padding-left: 0px;
    }

    .about__description{
        padding-top: 16px;
        width: 95%;
    }

  }