.navigation {
    position: absolute;
    top: 0;    
    max-width: 1440px;
    width: 100%;
    min-height: 80px;
    min-width: 320px;
    padding-left: 7%;
    padding-right: 7%;
    box-shadow: 0px -2px 0px 0px #FFFFFF33 inset;
    color: #fff;    
    display: flex;    
    justify-content: space-between;
    box-sizing: border-box;
  }

  .navigation_theme_login{    
    box-shadow: 0px -2px 0px 0px #D1D2D6 inset;
    color:black;
  }

  .navigation__logo{        
    width: 200px;
    height: 24px;
    padding-top: 30px;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .navigation__button-open{
    display:none;
    padding-top: 16px;
    padding-right: 16px;
    font-family: "Roboto Slab";
    font-size: 28px;
    line-height: 24px;
  }

  .navigation__links{
    padding-top: 14px;        
    display: flex;
    font-family: "Roboto";
    font-weight:  500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    gap: 89px;    
  }

  /*
  .navigation__links_theme_login{  
    gap: 58px;
  }*/

  .navigation__links_theme_white{
    border-bottom: 4px solid #fff;   
  }

  .navigation__links_theme_black{
    border-bottom: 4px solid #000; 
  }

  .navigation__links-home{
    cursor: pointer;    
    padding-top: 6px;
    height: 100%;
    width: 68px;
  }

  .navigation__links-home-tittle{
    padding-top: 19px;
    text-align: center;    
  }

  .navigation__links-articles{
    cursor: pointer;    
    padding-top: 6px;    
    height: 100%;    
    display: none;
  }

  .navigation__links-articles_theme_login{
    display: block;
  }

  .navigation__links-articles-tittle{
    padding-top: 19px;
    text-align: center;    
  }

  .navigation__links-sesion{
    width: 176px;
    height: 48px;
    border: 1px solid #fff;    
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    padding: 12px;    
    cursor: pointer;
  }

  .navigation__links-sesion_theme_login{
    border: 1px solid #000;    
    display:none;
  }

  .navigation__links-logout{
    cursor: pointer; 
    height: 48px;
    border: 1px solid #D1D2D6;    
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    padding: 12px;    
    cursor: pointer;
    display: none;
    gap: 5px;    
  }

  .navigation__links-logout:hover{
    border-color: #000;
  }

  .navigation__links-logout_theme_login{    
    display: flex;
  }

  .navigation__links-logout-icon_theme_black{
    background-image: url(../../images/Navigator/logout.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  .navigation__links-logout-icon_theme_white{
    background-image: url(../../images/Navigator/logout_white.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  
  @media screen and (max-width: 768px) {
    .navigation {
      min-height: 56px;         
      padding-left: 5%;
    }
    
    .navigation__logo{        
      padding-top: 22px;   
      padding-bottom: 18px;      
    }

    .navigation__links{      
      gap: 45px;    
    }
  

    .navigation__links-home-tittle{
      padding-top: 9px; 
      font-size: 16px;
    }

    .navigation__links-articles-tittle{
      padding-top: 9px;
      font-size: 16px;     
    }

    .navigation__links-sesion{
     margin-top: -10px;
     font-size: 16px;
     width: 152px;
     height: 40px;
     padding: 8px;
    }

    .navigation__links-logout{
      margin-top: -10px;
      font-size: 16px;
      /*width: 152px;*/
      height: 40px;
      padding: 8px;
     }

  }

  
  @media screen and (max-width: 767px) {
    .navigation {
        max-width: 767px;
        width: 100%;
        min-width: 320px;   
        min-height: 56px;
        display: block;        
    }

    .navigation_theme_open{
        background-color: #1A1B22;
    }

    .navigation_theme_login{
      background-color: #fff;
  }

    .navigation__main{
        width: 100%;
        display: flex;    
        justify-content: space-between;
      }

      .navigation__button-open{
        display:block;
        cursor: pointer;    
      }

      .navigation__button-open_theme_open{       
        background-image: url(../../images/Navigator/close.png);
        background-repeat: no-repeat;
        margin-top: 16px;
        padding-right: 37px;
      }

      .navigation__button-open_theme_login{ 
        background-image: url(../../images/Navigator/close_login.jpeg);
        margin-right: -6px;
        margin-top: 21px;
      }
    
    .navigation__logo{        
        padding-top: 16px;        
        font-size: 16px;
    }

    .navigation__links{                
        display: none;
    }

    .navigation__links_theme_open{
        display: block;
    }

    .navigation__links-home{
      border-bottom: 0px;
    }

    .navigation__links-home_theme_login {
      border-bottom: 4px solid #fff;
    }

    .navigation__links-home-tittle{
      padding-top: 15px;
      text-align: left;
      
    }

    .navigation__links-articles{
      border-bottom: 0px;
    }

    .navigation__links-articles-tittle{
      padding-top: 15px;
      text-align: left;
      
    }
      
    .navigation__links-sesion{        
        margin-top: 22px;       
        min-width: 288px;
        width: 100%;
        height: 56px;         
        padding-top: 15px;
        margin-bottom: 25px;
    }

    .navigation__links-logout{        
      margin-top: 22px;       
      min-width: 288px;
      width: 100%;
      height: 56px;         
      padding-top: 15px;
      margin-bottom: 25px;
      justify-content: center;
    }
  }

  @media screen and (max-width: 320px) {
    .navigation {
        max-width: 320px;
        width: 320px;     
    }
  }